@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 64px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
